.login-main {
    height: 50em;
    background-image: url("https://res.cloudinary.com/ste4o26/image/upload/v1627154815/cookviser/loginBackground-removebg-preview_jzlf6n.png");
    background-repeat: no-repeat;
    background-size: 80% 100%;
    background-position:right;
}

.form-group {
    border-radius: 0.2em;
    background-color: #dbad79;
    position: absolute;
    top: 24em;
    left: 23em;
    height: 45%;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.input-container {
    display: flex;
    justify-content: space-between;
    width: 80%;
    align-items: center;
}

.input-container .form-control {
    box-sizing: border-box;
    width: 90%;
    margin-left: 0.5em;
    border: none;
    border-radius: 0.2em;
    height: 2em;
}

.form-control:focus {
    outline-width: 0;
}

.form-control.ng-touched.ng-invalid {
    border: 3px solid #9e0b1a;
}

.form-control.ng-touched.ng-valid {
    border: 3px solid #0c7849;
}

.form-group h2 {
    margin: 0;
    padding: 0.2em 0.5em;
    border-bottom: 2px solid #c26b51;
}

.login-button {
    border: none;
    border-radius: 0.2em;
    padding: 1em 2em;
    cursor: pointer;
    background: linear-gradient(40deg, #FFCB9C, #f59477);
    text-transform: uppercase;
    letter-spacing: 2px;
    box-shadow: 0 4px 7px rgba(0, 0, 0, 0.4);
}

.login-button.invalid {
    cursor: not-allowed;
}

.navigation-footer {
    position: absolute;
    top: 47em;
    left: 26em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navigation-footer a {
    font-size: 1.5em;
    font-weight: bolder;
    text-decoration: none;
    color: #f59477;
}