<article  (mouseenter)="mouseEnterHandler(contentElement)" (mouseleave)="mouseLeaveHandler(contentElement)" class="card">
    <div class="card-image-container">
        <img class="card-image" src="{{user.profileImageUrl}}" alt="Profile picture">
    </div>

    <header class="card-header">
        <!-- TOOD add the query params instead of hardcoding it!!! -->
        <a [routerLink]="['/user/profile', user.username]">{{user.username}}</a>
        <p>Overall Rating: {{user.overallRating.toPrecision(2)}}</p>
    </header>
    
    <main #contentElement class="card-content hidden fas">
        <h4>About me</h4>
        <p>{{user.description}}</p>
    </main>
</article>