<main class="recipe-details-main">
    <article class="recipe-details">
        <header class="details-header">
            <div class="image-container">
                <img src="{{recipe?.recipeThumbnail}}">
            </div>
            <h2>{{recipe?.name}}</h2>

            <section *ngIf="!isCooking" class="descriptions-section">
                <div class="description-container">
                    <p>Publised By</p>
                    <p>{{recipe?.publisherUsername}}</p>
                </div>

                <div class="description-container">
                    <p>Recipe description</p>
                    <p>{{recipe?.description}}</p>
                </div>

                <div class="description-container">
                    <p>Servings</p>
                    <p>{{recipe?.portions}}</p>
                </div>

                <div class="description-container">
                    <p>Cooking Time</p>
                    <p>{{recipe?.duration}} min</p>
                </div>

                <button (click)="toggleIsCookingHandler()">Start Cooking</button>
            </section>

            <section *ngIf="isCooking" class="cooking-section">
                <div class="description-container">
                    <p>Category: {{recipe?.category}}</p>
                </div>
                <div class="description-container">
                    <p>Cuisine: {{recipe?.cuisine?.name}}</p>
                </div>
                <div class="ingredients-container">
                    <p>Ingredients</p>
                    <ul class="ingredients-list">
                        <li *ngFor="let ingredient of recipe?.ingredients" class="ingredient-item">
                            {{ingredient}}
                        </li>
                    </ul>
                </div>

                <div class="steps-container">
                    <p>Preparation Steps</p>
                    <ul class="steps-list">
                        <li *ngFor="let step of recipe?.steps" class="ingredient-item">
                            <span class="step-number">{{step?.number}}</span>
                            <span class="step-content">{{step?.content}}</span>
                        </li>
                    </ul>
                </div>

                <section class="rating-section">
                    {{recipe?.overallRating}}
                    <star-rating value="{{recipe?.overallRating}}" totalstars={{count}} checkedcolor="gold" uncheckedcolor="black"
                        size="24px" readonly="false" (rate)="onRateHandler($event)"></star-rating>
                </section>

                <button (click)="toggleIsCookingHandler()">View Description</button>
            </section>
        </header>
    </article>
</main>