<main class="register-main">
    <form #registerForm="ngForm" (ngSubmit)="submitHandler(registerForm.value)" class="form-group">
        <h2>Register</h2>

        <div class="input-container">
            <span class="icon-wrapper">
                <i class="fas fa-user"></i>
            </span>
            <input ngModel #usernameInput="ngModel" required minlength="5" name="username" class="form-control"
                type="text" placeholder="Username" autocomplete="off">
        </div>

        <div class="input-container">
            <span class="icon-wrapper">
                <i class="fas fa-envelope"></i>
            </span>
            <input ngModel #emailInput="ngModel" required pattern="[a-zA-Z0-9._-]{3,}@[a-zA-Z0-9.-]{3,}\.[a-zA-Z]{2,4}"
                name="email" class="form-control" type="email" placeholder="Email" autocomplete="off">
        </div>

        <div class="input-container">
            <span class="icon-wrapper">
                <i class="fas fa-address-card"></i>
            </span>
            <textarea ngModel #descriptionInput="ngModel" required minlength="10" name="description"
                class="form-control" placeholder="Description" autocomplete="off"></textarea>
        </div>

        <div class="input-container">
            <span class="icon-wrapper">
                <i class="fas fa-key"></i>
            </span>
            <input ngModel #passwordInput="ngModel" required minlength="6" name="password" class="form-control"
                type="password" placeholder="Password" autocomplete="off">
        </div>

        <div class="input-container">
            <span class="icon-wrapper">
                <i class="fas fa-key"></i>
            </span>
            <input ngModel #confirmPasswordInput="ngModel" required minlength="6" name="confirmPassword"
                class="form-control" type="password" placeholder="Confirm Password" autocomplete="off">
        </div>

        <button [ngClass]="{'invalid': registerForm.invalid === true}" [disabled]="registerForm.invalid"
            class="register-button">Register</button>
    </form>

    <footer class="navigation-footer">
        <h3>Already have an account?</h3>
        <a routerLink="/auth/login">Go To Login</a>
    </footer>
</main>