<main class="create-recipe-main">
    <form [formGroup]="createRecipeForm" class="form-group" enctype="multipart/form-data">
        <h2>Create Recipe</h2>

        <div class="input-container">
            <input formControlName="name" class="form-control" type="text" placeholder="Title">
        </div>

        <div class="input-container">
            <input formControlName="description" class="form-control" type="text" placeholder="Description">
        </div>

        <div class="input-container">
            <label for="file-input" id="file-label">Select Image</label>
            <input formControlName="recipeImage" type="file" accept="image/*" class="form-control" name="recipeImage" id="file-input"
                (change)="selectFileHandler($event)">
        </div>

        <div class="input-container">
            <input formControlName="portions" class="form-control" type="number" placeholder="Portions Quantity">
        </div>

        <div class="input-container">
            <input formControlName="duration" class="form-control" type="number" placeholder="Duration in minutes">
        </div>

        <div class="select-menus-container">
            <div class="input-container">
                <select formControlName="category" id="categories" class="form-control">
                    <option value="" disabled selected>Select Category</option>
                    <option *ngFor="let category of categories" [ngValue]="category.toUpperCase()">{{category}}</option>
                </select>
            </div>

            <div class="input-container">
                <select formControlName="cuisine" id="cuisines" class="form-control">
                    <option value="" selected disabled>Select Cuisine</option>
                    <option *ngFor="let cuisine of cuisines" [ngValue]="cuisine">{{cuisine.name}}</option>
                </select>
            </div>
        </div>

        <div class="input-container">
            <textarea formControlName="ingredients"
                placeholder="Please separate all the ingredients with ', '"></textarea>
        </div>

        <div class="input-container">
            <div class="steps-wrapper" formArrayName="steps">
                <div class="steps-container" *ngFor="let step of createRecipeForm.get('steps')?.controls; let i = index"
                    [formGroupName]="i">
                    <p>{{step.get('number').value}}</p>
                    <input placeholder="Step description" type="text" class="form-control" formControlName="content">
                </div>
            </div>
        </div>

        <button (click)="addStepHandler()" class="add-step-button">Add Step</button>
        <button (click)="submitHandler()" [disabled]="createRecipeForm.invalid" class="create-recipe-button">Create
            Recipe</button>
    </form>
</main>